@use "sass:map";
@use "@angular/material" as mat;

// Anterior
// $_palettes: (
//   primary: (
//     0: #000000,
//     10: #001e2e,
//     20: #02344b,
//     25: #143f57,
//     30: #224b63,
//     35: #2f576f,
//     40: #3c637c,
//     50: #557c96,
//     60: #6f95b0,
//     70: #89b0cc,
//     80: #a4cbe8,
//     90: #c7e7ff,
//     95: #e5f3ff,
//     98: #f6faff,
//     99: #fbfcff,
//     100: #ffffff,
//   ),
//   secondary: (
//     0: #000000,
//     10: #001f24,
//     20: #00363d,
//     25: #00424a,
//     30: #004f57,
//     35: #005b65,
//     40: #1a6872,
//     50: #3a818b,
//     60: #569ba5,
//     70: #71b6c1,
//     80: #8dd1dd,
//     90: #a9eef9,
//     95: #cff8ff,
//     98: #edfcff,
//     99: #f6feff,
//     100: #ffffff,
//   ),
//   tertiary: (
//     0: #000000,
//     10: #00201f,
//     20: #003735,
//     25: #004341,
//     30: #00504d,
//     35: #005d5a,
//     40: #006a67,
//     50: #158581,
//     60: #3d9f9b,
//     70: #5bbab6,
//     80: #78d6d1,
//     90: #95f3ed,
//     95: #b0fffa,
//     98: #e3fffc,
//     99: #f2fffd,
//     100: #ffffff,
//   ),
//   neutral: (
//     0: #000000,
//     4: #000d09,
//     6: #00140e,
//     10: #002117,
//     12: #00261b,
//     17: #003124,
//     20: #00382a,
//     22: #003d2e,
//     24: #004231,
//     25: #004433,
//     30: #00513e,
//     35: #005e48,
//     40: #006c53,
//     50: #008769,
//     60: #24a380,
//     70: #49be9a,
//     80: #67dbb5,
//     87: #7cefc8,
//     90: #85f7d0,
//     92: #9bfad8,
//     94: #b0fde0,
//     95: #bbffe4,
//     96: #caffe9,
//     98: #e7fff3,
//     99: #f4fff8,
//     100: #ffffff,
//   ),
//   neutral-variant: (
//     0: #000000,
//     10: #161c21,
//     20: #2b3136,
//     25: #363c41,
//     30: #42474c,
//     35: #4d5358,
//     40: #595f64,
//     50: #72787d,
//     60: #8c9197,
//     70: #a6acb2,
//     80: #c2c7cd,
//     90: #dee3e9,
//     95: #ecf1f7,
//     98: #f6faff,
//     99: #fbfcff,
//     100: #ffffff,
//   ),
//   error: (
//     0: #000000,
//     10: #410002,
//     20: #690005,
//     25: #7e0007,
//     30: #93000a,
//     35: #a80710,
//     40: #ba1a1a,
//     50: #de3730,
//     60: #ff5449,
//     70: #ff897d,
//     80: #ffb4ab,
//     90: #ffdad6,
//     95: #ffedea,
//     98: #fff8f7,
//     99: #fffbff,
//     100: #ffffff,
//   ),
// );
// Nueva paleta de colores
$_palettes: (
  primary: (
    0: #000000,
    10: #001e2e,
    20: #02344b,
    25: #143f57,
    30: #224b63,
    35: #2f576f,
    40: #3c637c,
    50: #557c96,
    60: #6f95b0,
    70: #89b0cc,
    80: #a4cbe8,
    90: #c7e7ff,
    95: #e5f3ff,
    98: #f6faff,
    99: #fbfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001f24,
    20: #00363d,
    25: #00424a,
    30: #004f57,
    35: #005b65,
    40: #1a6872,
    50: #3a818b,
    60: #569ba5,
    70: #71b6c1,
    80: #8dd1dd,
    90: #a9eef9,
    95: #cff8ff,
    98: #edfcff,
    99: #f6feff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #00201f,
    20: #003735,
    25: #004341,
    30: #00504d,
    35: #005d5a,
    40: #006a67,
    50: #158581,
    60: #3d9f9b,
    70: #5bbab6,
    80: #78d6d1,
    90: #95f3ed,
    95: #b0fffa,
    98: #e3fffc,
    99: #f2fffd,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #1d1d1d,
    6: #2a2a2a,
    10: #3e3e3e,
    12: #4a4a4a,
    17: #5c5c5c,
    20: #666666,
    22: #757575,
    24: #888888,
    25: #949494,
    30: #a3a3a3,
    35: #b2b2b2,
    40: #c0c0c0,
    50: #d6d6d6,
    60: #e5e5e5,
    70: #f4f4f4,
    80: #fafafa,
    87: #ffffff,
    90: #ffffff,
    92: #ffffff,
    94: #ffffff,
    95: #ffffff,
    96: #ffffff,
    98: #ffffff,
    99: #ffffff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1f1f1f,
    20: #2f2f2f,
    25: #3f3f3f,
    30: #4f4f4f,
    35: #5f5f5f,
    40: #6f6f6f,
    50: #808080,
    60: #909090,
    70: #a0a0a0,
    80: #b0b0b0,
    90: #c0c0c0,
    95: #d0d0d0,
    98: #e0e0e0,
    99: #f0f0f0,
    100: #ffffff,
  ),
  error: (
    error: (
      0: #000000,
      10: #410002,
      20: #690005,
      25: #7e0007,
      30: #93000a,
      35: #a80710,
      40: #ba1a1a,
      50: #de3730,
      60: #ff5449,
      70: #ff897d,
      80: #ffb4ab,
      90: #ffdad6,
      95: #ffedea,
      98: #fff8f7,
      99: #fffbff,
      100: #ffffff,
    ),
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

// Configuración de tipografía
$typography-config: mat.m2-define-typography-config(
  $font-family: "Poppins, system-ui, sans-serif",
);

// Aplicar configuración de tipografía
@include mat.typography-hierarchy($typography-config);

// Define the light and dark themes
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),

    typography: (
      brand-family: "Poppins, system-ui, sans-serif",
      plain-family: "Poppins, system-ui, sans-serif",
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
      use-system-variables: false,
      system-variables-prefix: "mat",
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),

    typography: (
      brand-family: "Poppins, system-ui, sans-serif",
      plain-family: "Poppins, system-ui, sans-serif",
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
      use-system-variables: false,
      system-variables-prefix: "mat",
    ),
  )
);
