<div class="login-container">
  <div class="left-container">
    <mat-card class="login-card">
      <mat-card-header class="login-card-header">
        <mat-card-title class="login-card-title">Login</mat-card-title>
        <mat-card-subtitle class="login-card-subtitle">
          Enter your email to get started
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="login-card-content">
        <form
          (ngSubmit)="loginWithEmail()"
          #loginForm="ngForm"
          class="login-form"
        >
          <mat-form-field class="login-form-field">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="john@example.com"
              [(ngModel)]="email"
              name="email"
              required
            />
            @if (linkSuccess && email){
            <mat-hint align="start" class="success-hint">
              Magic link sent! Check your email.
            </mat-hint>
            } @if (error){
            <mat-hint align="start" class="error-hint">
              {{ error }}
            </mat-hint>
            }
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            [disabled]="!email"
            type="submit"
            class="login-button"
          >
            Send magic link
          </button>
        </form>
        <div class="login-divider">
          <span>or</span>
        </div>
        <button
          (click)="loginWithGoogle()"
          class="google-button"
          mat-raised-button
        >
          <mat-icon class="google-icon">
            <img
              src="https://img.icons8.com/color/48/000000/google-logo.png"
              alt="Google"
            />
          </mat-icon>
          Google
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right-container">
    <div class="login-right">
      <h2 class="login-title">Supabase Trello</h2>
      <p class="login-subtitle">
        A simple Trello clone built with Angular and Supabase
      </p>
      <app-theme></app-theme>
      <img
        class="login-image"
        src="https://images.ctfassets.net/rz1oowkt5gyp/4kCNudjaBYj90CGgG7Lict/cbafa67336b2007278f50d99ceabfb22/Boards_2x.png"
        alt="Login"
      />
    </div>
  </div>
</div>
