.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.login-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card-title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.login-card-subtitle {
  margin-bottom: 20px;
}

.login-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-divider {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.login-divider::before,
.login-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.google-button {
  .google-icon {
    width: 24px;
    height: 24px;
  }
  img {
    width: 24px;
    height: 24px;
  }
}

.login-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  
}

.login-title {
  font-size: 24px;
  font-weight: 500;
}

.login-subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: auto 1124 / 701;
  object-fit: cover;
  object-position: top center;
}
